@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

html{
  font-size: 40px;
  font-family: "jost",sana-serif;
    background-color:rgb(158, 154, 154);

}

.nav-b {
    list-style: none;
    display: flex;
    justify-content: flex-end; 
    background-color: #333;
    padding: 10px;
  }
  
  /* Navbar links styling */
  .nav-b a {
    color: black;
    text-align: center;
    padding: 16px 22px;
    text-decoration: none;
    font-size: 24px; 
  }
  
  /* Hover effect for links */
  .nav-b a:hover {
   
    color: rgb(164, 114, 20);
  }
  body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: rgb(158, 154, 154);
}

form {
    margin: auto;
    background-color:  rgb(164, 114, 20);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: black;
}

fieldset {
    border: 2px solid #000;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(203, 205, 207);
}

legend {
    font-weight: bold;
    text-align: left;
    color: rgb(34, 29, 29);
}

label {
    display: block;
    margin-top: 10px;
    color: black;

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color: rgb(164, 114, 20);
    color: black;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    color:#fff;
}

