.nav-b {
  list-style: none;
  display: flex;
  justify-content: flex-end; 
  background-color: #333;
  padding: 10px;
}

/* Navbar links styling */
.nav-b a {
  color: black;
  text-align: center;
  padding: 16px 22px;
  text-decoration: none;
  font-size: 24px; 
}

/* Hover effect for links */
.nav-b a:hover {
 
  color: rgb(164, 114, 20);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "jost";
}

body{
    width: 100%;
    height: 100vh;
    background-color: linear-gradient(
        rgba(244, 239, 239, 0.3),
        rgba(244,239,239,0.3)

    );
    background-image: url("./coming-soon-word-metallic-text-style.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}